In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,AL,2020-02-25 07:06:01,41.00,20.00,42.80,86,0,1.12
1,1,Illoqqortoormiut,GL,2020-02-25 07:07:47,70.48,-21.96,-10.66,48,45,7.61
2,2,Atuona,PF,2020-02-25 07:07:38,-9.80,-139.03,81.14,78,28,12.53
3,3,Grand Gaube,MU,2020-02-25 07:08:22,-20.01,57.66,87.80,62,90,4.70
4,4,Butaritari,KI,2020-02-25 07:08:01,3.07,172.79,84.51,78,61,15.01

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
weights=clouds,dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 0
What is the maximum temperature you would like for your trip? 10

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
47,47,Tiksi,RU,2020-02-25 07:07:31,71.69,128.87,4.60,81,100,29.57
60,60,Whitehorse,CA,2020-02-25 07:03:42,60.72,-135.05,3.99,65,75,5.82
129,129,Eston,CA,2020-02-25 07:11:42,51.15,-108.75,9.00,78,20,11.41
154,154,Nome,US,2020-02-25 07:07:49,64.50,-165.41,8.01,54,1,3.36
167,167,Paamiut,GL,2020-02-25 07:08:24,61.99,-49.67,4.75,63,82,10.92
168,168,Narsaq,GL,2020-02-25 07:08:15,60.92,-46.05,5.00,38,0,6.93
183,183,Okha,RU,2020-02-25 07:11:51,53.57,142.95,5.29,95,80,12.97
190,190,Arman,RU,2020-02-25 07:07:46,59.70,150.17,1.27,87,67,8.32
211,211,Qaqortoq,GL,2020-02-25 07:11:56,60.72,-46.03,3.20,41,0,8.05
214,214,Tilichiki,RU,2020-02-25 07:07:32,60.47,166.10,1.80,80,100,8.84

In [11]:
preferred_cities_df.count()

City_ID       17
City          17
Country       17
Date          17
Lat           17
Lng           17
Max Temp      17
Humidity      17
Cloudiness    17
Wind Speed    17
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

           City Country  Max Temp    Lat     Lng Hotel Name
47        Tiksi      RU      4.60  71.69  128.87
60   Whitehorse      CA      3.99  60.72 -135.05
129       Eston      CA      9.00  51.15 -108.75
154        Nome      US      8.01  64.50 -165.41
167     Paamiut      GL      4.75  61.99  -49.67

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][1]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
47,Tiksi,RU,4.60,71.69,128.87,Gostinitsa
60,Whitehorse,CA,3.99,60.72,-135.05,Canadas Best Value Inn River View Hotel
129,Eston,CA,9.00,51.15,-108.75,Eston Campground
154,Nome,US,8.01,64.50,-165.41,Red Moose
167,Paamiut,GL,4.75,61.99,-49.67,Hotel Ivaana
168,Narsaq,GL,5.00,60.92,-46.05,Hotel Perlen
183,Okha,RU,5.29,53.57,142.95,Empire Hotel
190,Arman,RU,1.27,59.70,150.17,
211,Qaqortoq,GL,3.20,60.72,-46.03,Siniffik Inn
214,Tilichiki,RU,1.80,60.47,166.10,
296,Longyearbyen,SJ,3.20,78.22,15.64,Basecamp Spitsbergen
324,Turukhansk,RU,9.34,65.82,87.98,
417,Hanna,CA,10.00,51.63,-111.90,Canalta Hanna
426,Wainwright,CA,7.47,52.84,-110.86,Callaghan House Bed & Breakfast
445,Ilulissat,GL,1.40,69.22,-51.10,Hotel Icefiord
490,Athabasca,CA,9.79,54.72,-113.29,Days Inn by Wyndham Athabasca
532,Fort Nelson,CA,5.00,58.81,-122.70,Ramada Limited Fort Nelson

In [15]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [16]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))